{% extends '@Admin/Template/base-left-sidebar.html.twig' %}

{% block content %}
    <div class="container">
        <header class="page-header">
            <h3>Dashboard <small>Statistics for this month</small></h3>
        </header>

        <div class="overview row">
            <div class="col-md-3 col-sm-6">
                <div class="o-item bg-cyan">
                    <div class="oi-title">
                        <span data-value="450382"></span>
                        <span>Website Traffics</span>
                    </div>

                    <div class="overview-chart-line text-center"><!-- 9,5,6,3,9,7,5,4,6,5,6,4,9 --></div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="o-item bg-amber">
                    <div class="oi-title">
                        <span data-value="8737"></span>
                        <span>Total Sales</span>
                    </div>

                    <div class="overview-chart-line text-center"><!-- 2,4,6,5,6,4,5,3,7,3,6,5,9,6 --></div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="o-item bg-green">
                    <div class="oi-title">
                        <span data-value="450382"></span>
                        <span>Website Impressions</span>
                    </div>

                    <div class="overview-chart-line text-center"><!-- 9,4,6,5,6,4,5,7,9,3,6,5,9 --></div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="o-item bg-bluegray">
                    <div class="oi-title">
                        <span data-value="452"></span>
                        <span>Support Tickets</span>
                    </div>

                    <div class="overview-chart-line text-center"><!-- 6,9,5,6,3,7,5,4,6,5,6,4,2 --></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="tile">
                    <div class="t-header th-alt bg-teal">
                        <div class="th-title">Server Statistics</div>

                        <div class="actions dropdown">
                            <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more"></i></a>

                            <ul class="dropdown-menu pull-right">
                                <li><a href="">Refresh</a></li>
                                <li><a href="">Settings</a></li>
                            </ul>
                        </div>

                    </div>

                    <div class="t-body">
                        <div class="main-chart p-t-25">
                            <div id="curved-line-chart" class="mc-item"></div>
                            <div class="mc-info hidden-xs">
                                <span>1342 <i class="zmdi zmdi-caret-up-circle"></i></span>
                                <small>Praesent tempor erat eget risus vehicula in maximus turpis</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tile bg-cyan">
                    <div class="t-header th-alt bg-black-trp">
                        <div class="th-title">Percentages</div>

                        <div class="actions dropdown">
                            <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more"></i></a>

                            <ul class="dropdown-menu pull-right">
                                <li><a href="">Refresh</a></li>
                                <li><a href="">Settings</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="t-body tb-padding text-center">
                        <div class="pie-overviews">

                            <div class="pie-chart-tiny po-item" data-percent="86">
                                <span class="poi-percent">86</span>
                                <div class="poi-title">New Visitors</div>
                            </div>

                            <div class="pie-chart-tiny po-item" data-percent="23">
                                <span class="poi-percent">23</span>
                                <div class="poi-title">Bounce Rate</div>
                            </div>

                            <div class="pie-chart-tiny po-item" data-percent="57">
                                <span class="poi-percent">57</span>
                                <div class="poi-title">Emails Sent</div>
                            </div>

                            <div class="pie-chart-tiny po-item" data-percent="34">
                                <span class="poi-percent">34</span>
                                <div class="poi-title">Sales Rate</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Todo Lists -->
                <div class="tile">
                    <div class="t-header th-alt bg-red">
                        <div class="th-title">Todo Lists</div>

                        <div class="actions dropdown">
                            <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more"></i></a>

                            <ul class="dropdown-menu pull-right">
                                <li><a href="">Refresh</a></li>
                                <li><a href="">Settings</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="tile-body todo-lists">
                        <div class="list-group lg-alt">
                            <div class="list-group-item">
                                <div class="checkbox cr-alt">
                                    <label class="tl-item">
                                        <input type="checkbox" value="" checked>
                                        <i class="input-helper"></i>
                                        <span>Aenean id justo ac tellus ullamcorper pulvinar diam enim feugiat neque, eget ultricies magna quam vel felis.</span>
                                    </label>
                                </div>
                            </div>

                            <div class="list-group-item">
                                <div class="checkbox cr-alt">
                                    <label class="tl-item">
                                        <input type="checkbox" value="" checked>
                                        <i class="input-helper"></i>
                                        <span>Interdum et malesuada fames ac ante ipsum primis in faucibus Interdum.</span>
                                    </label>
                                </div>
                            </div>

                            <div class="list-group-item">
                                <div class="checkbox cr-alt">
                                    <label class="tl-item">
                                        <input type="checkbox" value="" checked>
                                        <i class="input-helper"></i>
                                        <span>Ut venenatis ipsum accumsan.</span>
                                    </label>
                                </div>
                            </div>

                            <div class="list-group-item">
                                <div class="checkbox cr-alt">
                                    <label class="tl-item">
                                        <input type="checkbox" value="">
                                        <i class="input-helper"></i>
                                        <span>In ut nisl iaculis, dapibus magna vitae, tincidunt metus.</span>
                                    </label>
                                </div>
                            </div>

                            <div class="list-group-item">
                                <div class="checkbox cr-alt">
                                    <label class="tl-item">
                                        <input type="checkbox" value="">
                                        <i class="input-helper"></i>
                                        <span>Interdum et malesuada fames ac ante ipsum primis in faucibu.</span>
                                    </label>
                                </div>
                            </div>

                            <div class="list-group-item">
                                <div class="checkbox cr-alt">
                                    <label class="tl-item">
                                        <input type="checkbox" value="" checked>
                                        <i class="input-helper"></i>
                                        <span>Integer eget eleifend nisl. Suspendisse potenti. Nulla efficitur, eros eleifend tempor placerat, urna sem malesuada lacus. Mauris mi dui, accumsan ut sapien eget.</span>
                                    </label>
                                </div>
                            </div>

                            <div class="list-group-item">
                                <div class="checkbox cr-alt">
                                    <label class="tl-item">
                                        <input type="checkbox" value="">
                                        <i class="input-helper"></i>
                                        <span>Aenean lobortis ipsum in libero dapibus egestas.</span>
                                    </label>
                                </div>
                            </div>

                            <div class="list-group-item">
                                <div class="checkbox cr-alt">
                                    <label class="tl-item">
                                        <input type="checkbox" value="">
                                        <i class="input-helper"></i>
                                        <span>Maecenas laoreet purus non lectus mollis, vitae finibus justo tempor.</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="todo-footer">
                            <button class="btn btn-danger btn-icon"><i class="zmdi zmdi-plus"></i></button>
                        </div>
                    </div>
                </div>

                <!-- Calendar -->
                <div class="tile">
                    <div class="calendar-widget"></div>
                </div>
            </div>

            <div class="col-sm-6">

                <!-- Site Visitors -->
                <div class="tile">
                    <div class="t-header th-alt bg-blue">
                        <div class="th-title">Site Visitors</div>

                        <div class="actions dropdown">
                            <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more"></i></a>

                            <ul class="dropdown-menu pull-right">
                                <li><a href="">Refresh</a></li>
                                <li><a href="">Settings</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tile-body">
                        <div class="bg-blue count-box">
                            <div class="row">
                                <div class="col-sm-3 col-xs-6">
                                    <div class="cb-item">
                                        <h3>298K</h3>
                                        <small>This Month</small>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="cb-item">
                                        <h3>87K</h3>
                                        <small>This Week</small>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="cb-item">
                                        <h3>12967</h3>
                                        <small>Today</small>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="cb-item">
                                        <h3>4872K</h3>
                                        <small>Total Visits</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="p-20 main-chart">
                            <div id="bar-chart" class="mc-item"></div>
                            <div class="flot-legend"></div>
                        </div>
                    </div>

                </div>

                <!-- Recent Posts -->
                <div class="tile">
                    <div class="t-header th-alt bg-bluegray m-b-15">
                        <div class="th-title">Recent Posts</div>

                        <div class="actions dropdown">
                            <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more"></i></a>

                            <ul class="dropdown-menu pull-right">
                                <li><a href="">Refresh</a></li>
                                <li><a href="">Settings</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="t-body">
                        <div class="list-group lg-alt">
                            <a href="" class="list-group-item media">
                                <div class="pull-left">
                                    <img class="img-circle pull-left" src="img/profile-pics/1.jpg" alt="" width="40" height="40">
                                </div>

                                <div class="media-body">
                                    <div class="list-group-item-heading">David Villa Jacobs</div>
                                    <small class="list-group-item-text">Sorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis lobortis sapien non posuere</small>
                                    <small class="list-group-item-text">3 Hours ago</small>
                                </div>
                            </a>

                            <a href="" class="list-group-item media">
                                <div class="pull-left">
                                    <img class="img-avatar" src="img/profile-pics/5.jpg" alt="" width="40" height="40">
                                </div>
                                <div class="media-body">
                                    <div class="list-group-item-heading">Candice Barnes</div>
                                    <small class="list-group-item-text">Quisque non tortor ultricies, posuere elit id, lacinia purus curabitur.</small>
                                    <small class="list-group-item-text">5 Hours ago</small>
                                </div>
                            </a>

                            <a href="" class="list-group-item media">
                                <div class="pull-left">
                                    <img class="img-avatar" src="img/profile-pics/3.jpg" alt="" width="40" height="40">
                                </div>
                                <div class="media-body">
                                    <div class="list-group-item-heading">Jeannette Lawson</div>
                                    <small class="list-group-item-text">Donec congue tempus ligula, varius hendrerit mi hendrerit sit amet. Duis ac quam sit amet leo feugiat iaculis</small>
                                    <small class="list-group-item-text">Yesterday</small>
                                </div>
                            </a>

                            <a href="" class="list-group-item media">
                                <div class="pull-left">
                                    <img class="img-avatar" src="img/profile-pics/4.jpg" alt="" width="40" height="40">
                                </div>
                                <div class="media-body">
                                    <div class="list-group-item-heading">Darla Mckinney</div>
                                    <small class="list-group-item-text">Duis tincidunt augue nec sem dignissim scelerisque. Vestibulum rhoncus sapien sed nulla aliquam lacinia</small>
                                    <small class="list-group-item-text">05/06/2014</small>
                                </div>
                            </a>

                            <a href="" class="list-group-item media">
                                <div class="pull-left">
                                    <img class="img-avatar" src="img/profile-pics/2.jpg" alt="" width="40" height="40">
                                </div>
                                <div class="media-body">
                                    <div class="list-group-item-heading">Rudolph Perez</div>
                                    <small class="list-group-item-text">Phasellus a ullamcorper lectus, sit amet viverra quam. In luctus tortor vel nulla pharetra bibendum</small>
                                    <small class="list-group-item-text">08/06/2014</small>
                                </div>
                            </a>

                            <a class="view-more" href="">View more</a>
                        </div>
                    </div>
                </div>

                <div class="tile">
                    <div class="t-header th-alt bg-purple">
                        <div class="th-title">Latest Signups</div>

                        <div class="actions dropdown">
                            <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more"></i></a>

                            <ul class="dropdown-menu pull-right">
                                <li><a href="">Refresh</a></li>
                                <li><a href="">Settings</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="tile-body">
                        <div class="count-box bg-purple">
                            <div class="row text-center">
                                <div class="col-sm-3 col-xs-6">
                                    <div class="cb-item">
                                        <h3 class="">232</h3>
                                        <small>This Month</small>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="cb-item">
                                        <h3 class="">63</h3>
                                        <small>This Week</small>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="cb-item">
                                        <h3 class="">22</h3>
                                        <small>Today</small>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="cb-item">
                                        <h3 class="">1365</h3>
                                        <small>Total Users</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="rounded-thumbs">
                            <div class="row">
                                <a class="col-xs-3 col-sm-2 rt-item" href="">
                                    <img src="img/profile-pics/7.jpg" alt="">
                                    <small>David Aalam</small>
                                </a>
                                <a class="col-xs-3 col-sm-2 rt-item" href="">
                                    <img src="img/profile-pics/8.jpg" alt="">
                                    <small>Frank Ribbery</small>
                                </a>
                                <a class="col-xs-3 col-sm-2 rt-item" href="">
                                    <img src="img/profile-pics/1.jpg" alt="">
                                    <small>Taylor Richards</small>
                                </a>
                                <a class="col-xs-3 col-sm-2 rt-item" href="">
                                    <img src="img/profile-pics/9.jpg" alt="">
                                    <small>Julius Wensis</small>
                                </a>
                                <a class="col-xs-3 col-sm-2 rt-item" href="">
                                    <img src="img/profile-pics/10.jpg" alt="">
                                    <small>Van de Quanton</small>
                                </a>
                                <a class="col-xs-3 col-sm-2 rt-item" href="">
                                    <img src="img/profile-pics/2.jpg" alt="">
                                    <small>Natash</small>
                                </a>
                                <a class="col-xs-3 col-sm-2 rt-item" href="">
                                    <img src="img/profile-pics/11.jpg" alt="">
                                    <small>Sabin David</small>
                                </a>
                                <a class="col-xs-3 col-sm-2 rt-item" href="">
                                    <img src="img/profile-pics/12.jpg" alt="">
                                    <small>Andrew Alexis</small>
                                </a>
                                <a class="col-xs-3 col-sm-2 rt-item" href="">
                                    <img src="img/profile-pics/13.jpg" alt="">
                                    <small>James Franklin</small>
                                </a>
                                <a class="col-xs-3 col-sm-2 rt-item" href="">
                                    <img src="img/profile-pics/14.jpg" alt="">
                                    <small>Nathan Jaywis</small>
                                </a>
                                <a class="col-xs-3 col-sm-2 rt-item" href="">
                                    <img src="img/profile-pics/5.jpg" alt="">
                                    <small>Melissa</small>
                                </a>
                                <a class="col-xs-3 col-sm-2 rt-item" href="">
                                    <img src="img/profile-pics/4.jpg" alt="">
                                    <small>David</small>
                                </a>
                            </div>
                        </div>
                        <a class="view-more" href="">View more</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}