{{ form_start(form, {
    'attr': {'class':'navbar-form navbar-right-search form-search', 'action':path('handleSearch')}
}) }}

    {{ form_widget(form.search, {
        'attr': {'class':'form-control search-query'}
    }) }}

{{ form_widget(form.submit, {
    'attr': {'class':'btn btn-primary', 'placeholder':'fdfd'}
}) }}

{{ form_end(form) }}




