{% extends '@Admin/Template/base-left-sidebar.html.twig' %}

{% block custom_js %}
    <script src="{{ asset('bundles/admin/js/matchingFile.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-sm-6 col-md-6">
            {{ form(add_file_form) }}
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6">
            <a class="btn btn-warning pull-right" href="{{ path('download_file') }}" target="_blank">Выгрузить</a>
        </div>
    </div>

    {% if fileMatchings is defined %}
        {% for fileMatching in fileMatchings %}
            <div class="tile">
                {% if fileMatching.approved == 0 %}
                    <div class="t-header">
                        <div class="th-title">{{ fileMatching.title }} <small>название продукта из файла</small></div>
                    </div>

                    <div class="t-body tb-padding">
                        <p class="c-black m-b-5">Картинки</p>
                        <small>Картинки найденные в базе по такому названию</small>

                        <br/>
                        <br/>

                        <div class="row">
                            {% for image in fileMatching.images %}
                                <div class="col-sm-6 col-md-3">
                                    <div class="thumbnail">
                                        <img class="img-responsive" src="/{{ image.pictureUrl }}">
                                        <div class="caption">
                                            <h4>{{ image.product.title }}</h4>

                                            <div class="clearfix"></div>

                                            <div class="m-t-10">
                                                <label class="checkbox checkbox-inline cr-alt">
                                                    <input class="js-image-{{ fileMatching.id }}" data-id="{{ image.id }}" type="checkbox" value="option">
                                                    <i class="input-helper"></i>
                                                    Выбрать
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <button class="js-approve-button btn btn-primary btn-block" data-id="{{ fileMatching.id }}" data-url="{{ path('approve_match', {id: fileMatching.id}) }}">Подтвердить</button>
                    </div>
                {% else %}
                    <div class="t-header">
                        <div class="th-title">{{ fileMatching.title }} <small>название продукта из файла</small></div>
                        <br>
                        <button class="btn bg-deeppurple">Подтверждено</button>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <br>
        <div class="navigation text-center">
            {{ knp_pagination_render(fileMatchings) }}
        </div>
    {% elseif fileMatchings is not defined %}
        <h2>Нет сопоставленных товаров</h2>
    {% endif %}
{% endblock %}