{% extends '@Admin/Template/base-left-sidebar.html.twig' %}

{% block content %}

    <header class="page-header">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <h3>Модерация изображений</h3>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            {{ render(controller(
                'AdminBundle:Moderation\\Image:searchBar'
            )) }}
        </div>
        <br>
    </header>

    {% if products is defined %}
        {% for product in products %}
            <div class="tile">
                <div class="t-header">
                    <div class="th-title">{{ product.owner.title }}</div>
                    <br>
                    <button class="btn bg-deeppurple">{{ product.owner.category.category_title }}</button>
                </div>

                <div class="t-body tb-padding">
                    <p class="c-black m-b-5">Новая картинка</p>
                    <small>Новая картинка загруженная через API.</small>
                    <br/>
                    <br/>

                    <div class="lightbox row">
                        {% for productImage in product %}
                            <a class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <img class="preview-img" src="/{{ productImage.pictureUrl }}">
                            </a>
                        {% endfor %}
                    </div>

                    <div class="block-btn">
                        {% set arrayproduct = product.getValues %}
                        {% if  arrayproduct == true %}
                            <a class="btn btn-primary active"
                               href="{{ path('add_image',{id: arrayproduct | first.product.id } ) }}"
                            >
                                <i class="la la-remove"></i>Одобрить
                            </a>
                            <a class="btn btn-danger active"
                               href="{{ path('remove_image',{id: arrayproduct | first.product.id} ) }}"
                            >
                                <i class="la la-remove"></i>Отклонить
                            </a>
                            <br><br>
                        {% endif %}
                    </div>

                </div>
            </div>
        {% endfor %}
        <br>
        <div class="navigation text-center">
            {{ knp_pagination_render(products) }}
        </div>
    {% elseif products is not defined %}
        <h2>Нет изображений для модерации</h2>
    {% endif %}

{% endblock %}
