<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">

    <title>CPP</title>

    <link href="{{ asset('bundles/admin/assets/vendors/librarys/bower_components/animate.css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/admin/assets/vendors/librarys/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/admin/assets/vendors/librarys/bower_components/fullcalendar/dist/fullcalendar.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/admin/assets/vendors/librarys/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/admin/assets/vendors/css/app.min.css') }}" rel="stylesheet">

    {#<link href="{{ asset('bundles/admin/css/demo.css') }}" rel="stylesheet">#}
    <link href="{{ asset('bundles/admin/css/style.css') }}" rel="stylesheet">

    {% block custom_css %}{% endblock %}
</head>

<body>
    {% block common %}{% endblock %}

    <!-- Older IE Warning Message -->
    <!--[if lt IE 9]>
    <div class="ie-warning">
        <h1 class="c-white">Warning!!</h1>
        <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
        <div class="iew-container">
            <ul class="iew-download">
                <li>
                    <a href="http://www.google.com/chrome/">
                        <img src="{{ asset('bundles/admin/assets/vendors/img/browsers/chrome.png') }}" alt="">
                        <div>Chrome</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.mozilla.org/en-US/firefox/new/">
                        <img src="{{ asset('bundles/admin/assets/vendors/img/browsers/firefox.png') }}" alt="">
                        <div>Firefox</div>
                    </a>
                </li>
                <li>
                    <a href="http://www.opera.com">
                        <img src="{{ asset('bundles/admin/assets/vendors/img/browsers/opera.png') }}" alt="">
                        <div>Opera</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.apple.com/safari/">
                        <img src="{{ asset('bundles/admin/assets/vendors/img/browsers/safari.png') }}" alt="">
                        <div>Safari</div>
                    </a>
                </li>
                <li>
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                        <img src="{{ asset('bundles/admin/assets/vendors/img/browsers/ie.png') }}" alt="">
                        <div>IE (New)</div>
                    </a>
                </li>
            </ul>
        </div>
        <p>Sorry for the inconvenience!</p>
    </div>
    <![endif]-->

    <!-- Javascript Libraries -->
    <script src="{{ asset('bundles/admin/assets/vendors/librarys/bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/admin/assets/vendors/librarys/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    <script src="{{ asset('bundles/admin/assets/vendors/librarys/bower_components/flot/jquery.flot.js') }}"></script>
    <script src="{{ asset('bundles/admin/assets/vendors/librarys/bower_components/flot/jquery.flot.resize.js') }}"></script>
    <script src="{{ asset('bundles/admin/assets/vendors/librarys/bower_components/flot-orderBars/js/jquery.flot.orderBars.js') }}"></script>
    <script src="{{ asset('bundles/admin/assets/vendors/librarys/bower_components/flot.curvedlines/curvedLines.js') }}"></script>
    <script src="{{ asset('bundles/admin/assets/vendors/librarys/bower_components/flot-orderBars/js/jquery.flot.orderBars.js') }}"></script>
    <script src="{{ asset('bundles/admin/assets/vendors/librarys/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script src="{{ asset('bundles/admin/assets/vendors/librarys/sparklines/jquery.sparkline.min.js') }}"></script>
    <script src="{{ asset('bundles/admin/assets/vendors/librarys/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js') }}"></script>

    <script src="{{ asset('bundles/admin/assets/vendors/librarys/bootstrap-growl/bootstrap-growl.min.js') }}"></script>
    <script src="{{ asset('bundles/admin/assets/vendors/librarys/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script src="{{ asset('bundles/admin/assets/vendors/librarys/bower_components/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('bundles/admin/assets/vendors/librarys/bower_components/fullcalendar/dist/fullcalendar.min.js') }}"></script>

    <!-- Charts - Please read the read-me.txt inside the js folder-->
    <script src="{{ asset('bundles/admin/assets/vendors/js/flot-charts/curved-line-chart.js') }}"></script>
    <script src="{{ asset('bundles/admin/assets/vendors/js/flot-charts/bar-chart.js') }}"></script>
    <script src="{{ asset('bundles/admin/assets/vendors/js/charts.js') }}"></script>

    <!-- Placeholder for IE9 -->
    <!--[if IE 9 ]>
    <script src="{{ asset('bundles/admin/assets/vendors/librarys/bower_components/jquery-placeholder/jquery.placeholder.min.js') }}"></script>
    <![endif]-->

    <script src="{{ asset('bundles/admin/assets/vendors/js/functions.js') }}"></script>
    <script src="{{ asset('bundles/admin/assets/vendors/js/demo.js') }}"></script>

    {% block custom_js %}{% endblock %}
</body>
</html>